.fa-12 { font-size: 12px; }
.fa-14 { font-size: 14px; }
.fa-16 { font-size: 16px; }
.fa-18 { font-size: 18px; }
.fa-20 { font-size: 20px; }
.fa-24 { font-size: 24px; }
.fa-36 { font-size: 36px; }
.fa-48 { font-size: 48px; }