.menu-item{
  @extend .nav-item;
}
.menu-item a{
  @extend .nav-link;
}
.current-menu-item{
  @extend .active;
  a{
    font-weight: bold;
    color: #000 !important;
  }
}
#mds-banner{
  margin-bottom: 5em;
}
.navbar-nav{
  margin: 0 auto;
}

#mds-nav{
  border-bottom-width:1px;
  border-bottom-style: solid;
}

@include media-breakpoint-up(md){
  .menu-item{
    margin-right: 1em;
  }
}

.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all .2s ease-in-out;
}
.headroom--unpinned {
  top: -100px;
  transform: translateY(-100%);
}
.headroom--pinned {
  top: 0;
  transform: translateY(0%);
}