@include media-breakpoint-up(md){

  $sidebar-width: 320px;
  $transition-nav: all 0.3s ease;
  $transition-sidebar: margin 0.3s ease;
  $transition-home: padding 0.3s ease;

  .container .content{
    overflow-x: hidden;
  }

  .mds-toggle-sidbar{
    z-index: $zindex-sticky;
    position: fixed;
    right: 50px;
    bottom: 60px;
    width: 15px;
    height: 20px;
    padding: 5px;
    line-height: 2;
    cursor: pointer;
    color: #00f0ff;
  }
  .home{
    @include transition($transition-home);
  }
  .mds-collapse-home{
    padding-right: $sidebar-width;
  }
  .mds-collapse-nav{
    right: $sidebar-width;
  }
  #mds-nav{
    @include transition($transition-nav);
  }

  .mds-sidebar{
    z-index: $zindex-dropdown;
    width: $sidebar-width;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: inset 0 2px 6px #000;
    background: #222;
    @include transition($transition-sidebar);
  }
  .collapsed{
    margin-right: 0-$sidebar-width;
  }

}