@include media-breakpoint-up(md){

  $sidebar-width: 320px;

  .container .content{
    overflow-x: hidden;
  }

  .mds-toggle-sidbar{
    z-index: $zindex-sticky;
    position: fixed;
    right: 50px;
    bottom: 60px;
    width: 15px;
    height: 20px;
    padding: 5px;
    line-height: 2;
    cursor: pointer;
    color: #00f0ff;
  }
  .mds-content{
    transition: margin 0.3s ease;
  }
  .mds-col-middle{
    margin-right: auto;
    margin-left: auto;
  }
  .mds-col-left{
    margin-left: 0px;
  }

  .mds-sidebar{
    z-index: $zindex-dropdown;
    width: $sidebar-width;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: inset 0 2px 6px #000;
    background: #222;
    transition: margin 0.3s ease;
  }
  .collapsed{
    margin-right: 0-$sidebar-width;
  }
}